body{
  /* background: url(/image/graph-paper-5.png); */
  background: green;
}
.heading{
  /* display: block; */
  text-align: center;
}
button{
  padding: 15px 10px 15px 10px;
  color: white;
  background: grey;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
button:hover{
    background: black;
}
button:active{
  background: rgb(72, 72, 72);
}
#myContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
}
